*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio generated
app/build

# Kotlin
.kotlin

# Logs
*.log

# Keystore files
*.jks
*.keystore

# Generated APKs
*.apk
*.aab
app/google-services.json